@font-face {
    font-family: 'Satoshi-Light';
    src: url(./assets/fuentes/Satoshi-Light.woff);
}

@font-face {
    font-family: 'Gambetta-LightItalic';
    src: url(./assets/fuentes/Gambetta-LightItalic.woff);
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url(./assets/fuentes/Comfortaa-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi-Light', sans-serif;
    background-color: #0e0e0e;
    color: #dac5a7;

    & h1, h2, h3, h4, p {
        margin: 0;
    }

    & h2 {
        font-size: 45px;
    }

    & h4, span {
        font-family: 'Gambetta-LightItalic', sans-serif;
    }

    & p {
        font-size: 18px;
        font-weight: 200;
        line-height: 33px;
        text-align: center;
        text-wrap: pretty;
    }

    & .contenedor {
        background-color: #ffffff12;
        border: #dac5a726 1px solid;
        border-radius: 2px;
    }
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 512px;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;

    background-color: #dac5a70d;
    border: #dac5a726 1px solid;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    padding: 12px 12px 12px 20px;

    & .logo {
        width: 120px;
    }
    z-index: 10;

    & .menu {
        display: flex;
        align-items: center;
        column-gap: 16px;
    
        & ul {
            display: flex;
            gap: 16px;
            list-style: none;
    
            & a {
                text-decoration: none;
                color: #dac5a7;
                text-transform: uppercase;
    
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
            }
        }
    }

    & .boton {
        width: 110px;
        height: 40px;
        font-size: 13px;

        padding: 10px 16px;
        color: #0E0E0E;
        text-transform: uppercase;
        border-radius: 2px;
        border-style: none;
        background-color: #dac5a7;
    
        &:hover {
            background-color: #d8c8b2;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: #dac5a7;
    width: 100%;
    height: 100vh;
    padding-top: 0;

    & h1 {
        font-size: 140px;
        font-weight: 400;
        line-height: 80px;
        text-align: center;

    }

    & span {
        font-size: 100px;
        font-weight: 400;
    }

    & h3 {
        font-size: 18px;
        font-weight: 200;
        line-height: 33px;
        text-align: center;
        width: 512px;
        text-wrap: pretty;
        padding-bottom: 32px;
    }
    
    & .hero-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url(./assets/xander.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
        opacity: 0.4;
    }
}

.sobre-mi {
    color: #dac5a7;
    gap: 20px;

    & p {
        padding: 48px;
        width: 1024px;
    }
}

.proyectos-contenedor {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 2fr));
    gap: 20px;
    padding: 24px;
}

.proyecto {
    position: relative;
    width: 512px;
    height: 400px;

    &.contenedor {
        background-color: transparent;
    }

    & .proyecto-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    & .proyecto-1 {
        background-image: url(./assets/proyectos/1.webp);
    }

    & .proyecto-2 {
        background-image: url(./assets/proyectos/2.webp);
    }

    & .proyecto-3 {
        background-image: url(./assets/proyectos/3.webp);
    }

    & .proyecto-4 {
        background-image: url(./assets/proyectos/4.webp);
    }

    & .proyecto-info {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%);
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;

        &:hover {
            opacity: 1;
        }

        & h4 {
            & a {
                font-size: 24px;
                text-decoration: none;
                color: #dac5a7;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
            }
        }
    
        & p {
            text-align: center;
            padding-inline: 24px;
        }

        & ul {
            display: flex;
            gap: 8px;
            padding-bottom: 24px;

            & li {
                list-style: none;
                border: 1px solid #dac5a7;
                border-radius: 2px;
                padding: 4px 8px;
                pointer-events: none;
            }
        }
    }
}